.dashboard {
    margin-top: 1.2rem;
}

.store{
    margin-top: 1rem;
    position: relative
}

.store input{
    border: none;
    width: 150px;
    margin-top: .5rem;
    float: left;
    padding-left: .5rem;
    box-shadow: 2px 2px 2px 2px #ddd;
}

.right{
    float: right;
    position: relative;
    margin-bottom: 1rem;
}

.sales{
    position: absolute;
    margin-top: 3rem;
    /* display: inline-block; */
    width: 100%;
}

.header-items{
    display: flex;
    justify-content: space-between;
}

.header-items .item{
    text-align: left ;
}

/* ----------------------Accordion details ---------------------- */
.accordion div{
    display: flex;
    justify-content: space-between;
    background-color: white;
}




/* ----------------------Accordion details ---------------------- */