.dashboard {
    margin-top: 1.2rem;
}

.store{
    margin-top: 1rem;
    position: relative
}

.store input{
    border: none;
    width: 150px;
    /* margin-top: .5rem; */
    float: left;
    height: 30px;
    border-radius: 5px;
    padding-left: .5rem;
    box-shadow: 2px 2px 2px 2px #ddd;
}

.right{
    float: right;
    position: relative;
    /* margin: 0 !important; */
}

.sales{
    position: absolute;
    margin-top: 3rem;
    /* display: inline-block; */
    width: 100%;
}

.header-items{
    display: flex;
    justify-content: space-between;
}

.header-items .item{
    text-align: left ;
}

/* ----------------------Accordion details ---------------------- */
.accordion div{
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    margin-top: 3px;
    padding: 1rem;
    border-radius: 5px;
}

.accordion .btn{
    float: right;
    margin: 1rem .2rem;
}




/* ----------------------Accordion details ---------------------- */