.registration{
    position: relative;
    /* left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #E1D7D7; */
}

.eversion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.container-form{
    background-color: white;
    box-shadow: 4px 4px 4px pink;
    z-index: 0;
    border-radius: 5px;
    display: flex;
    width: 600px; 
    padding: 15px 15px 45px 15px;
}

.login .forms-info{
    margin-top: 0;
}

.login .forms-info img{
    margin-bottom: 2px;
    width: 100px;
}

.forms-info img{
    margin-bottom: 10px;
    width: 100px;
}

.forms-info{
    margin-top: 1.3rem;
}

.forms-info span{
    display: block;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    margin: 10px;
    padding: .5rem;
    width: 250px;
    box-shadow: 2px 2px 2px #aaaa;
}

.form-name{
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
}

input[type=submit]{
    margin-top: 20px;
    font-weight: bold;
}

.form-name div{
    margin: 0 1%;
}

.form-name input{
    width: 100%;
    border: none;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px #ddd;
    border-radius: 3px;
    height: 35px;
}

.registration label{
    display: block;
    text-align: left !important;
    margin: .9rem 0 0 2%;
    font-size: 14px;
    font-weight: bold;
}

input:focus{
    outline: none;
}

.signup-inputs input{
    width: 98%;
    border: none;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px #ddd;
    border-radius: 3px;
    height: 35px;
}

@media screen and (max-width: 430px)  {
    .container-form{
        width: 320px;
        top: 70%;
        flex-direction: column;
    }

    .forms-info{
        display: none;
    }

    #login .container-form{
        top: 50%;
    }
}